<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-gif-list
      *ngIf="vm.gifs"
      [gifs]="vm.gifs"
      (gifLoadStart)="setLoading($event)"
      (gifLoadComplete)="setLoadingComplete($event)"
    ></app-gif-list>
    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="loadMore($event, vm.gifs)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Fetching gifs..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ng-container>
